html, body{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #525659;
}

.main-container{
    padding: 0 !important;
}

.wrapper{
    display: flex;
    align-items: stretch;
}

.accentcolor{
    color: #7386D5;
}

.accentbgcolor{
    background-color: #7386D5;
}

.accentbgcolordarker{
    background-color: #6171b6;
}

#sidebar{
    margin-left: -1px !important;
    height: inherit;
    width: auto;
    max-width: 10%;
    transition: all 600ms ease-out;
    color: white;
}

div#sidebar.open{
    max-width: 40%;
    width: auto;
    transition: all 600ms ease-out;
}

i.sidebar-icon{
    font-size: 2.5em;
}

.sidebar-icon-container{
    text-align: center;
    margin-top: 15%;
}

.skill p{
    margin: 0;
}

.sidebar-icon-container.open{
    text-align: left;
    width: 105%;
    margin-top: 10%;
    transition: all 600ms ease-in-out;
    overflow: hidden;
}

.sidebar-icon-container p{
    position: relative;
    left: -30%;
    display: none;
}

.sidebar-icon-container.open p{
    left: 5%;
    display: inherit;
}

.sidebar-icon-container.open p.title{
    display: inline;
}

.normal{
    transform: rotate(0deg);
    transition: all 600ms ease-in-out;
 }

 .rotated{
    transform: rotate(360deg);
    transition: all 600ms ease-in-out;
 }

 #meimg{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    transition: all 600ms ease-in-out;
}

#meimg.open{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    transition: all 600ms ease-in-out;
}

#sidebar .title{
    font-weight: 700;
    font-size: 2em;
}


.skill{
    position: relative;
    left: -30%;
    padding-right: 15%;
    padding-bottom: 10px;
    display: none;
}

.skill.open{
    left: 5%;
    display: inherit;
    transition: all 600ms ease-in-out;
}

#sidebar-header{
    width: 105%;
}

#content{
    padding: 5%;
}

#content .title{
    font-size: 5rem;
}

#content .subtitle{
    font-size: 2.5rem;
}

#content .paragraph{
    font-size: 1.5rem;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .main-container{
        margin: 0;
        page-break-after: always;
        box-shadow: none;
        outline: 0 !important;
        outline-offset: 0  !important;
        background-image: none  !important;
        -webkit-box-shadow: none !important;
        box-shadow: none  !important;
        width: 100%;
    }
    html, body{
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        /*background-color: #5f3a21;*/
        width: 100%;
    }
    
    #content{
        width: 100%;
    }

    .wrapper{
        width: 100%;
    }
}

.modal.left .modal-dialog {
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	overflow-y: auto;
}

.modal.left.fade .modal-dialog {
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
	left: 0;
}

.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #7386D5;
	background-color: #7386D5;
}

.modal-body{
    background-color: #7386D5;
    overflow-y: scroll;
}

.modal-footer{
    background-color: #6171b6;
}

.mobile-nav{
    display: none;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.nav-button{
    margin-left: inherit;
}

.white-text{
    color: white;
}

.nav-title{
    font-size: 1.5rem;
    margin: 0;
}

.active{
    color: white;
}

#closebtn{
    background-color: #7386D5;
    color: white;
}

.stretch{
    display: flex;
    align-items: stretch;
    color: white;
}

.mobile-nav-container{
    border-radius: 30px;
    margin-bottom: 10%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.title-mobile{
    font-size: 2.0rem;
    margin-bottom: 0;
    margin-top: 5px;
}

.subtitle.mobile{
    margin-left: 40px;
    color: white;
}

.paragraph.mobile{
    margin-left: 40px;
    color: white;
}

.padding-bar{
    margin-left: 40px;
    margin-right: 40px;
}

.skill-mobile{
    margin-bottom: 0;
    margin-top: 10px;
}

@media screen and (max-width: 770px){
    html, body{
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    div#sidebar.open{
        max-width: 20%;
        width: auto;
        transition: all 600ms ease-out;
    }

    #content{
        overflow: hidden;
    }

    #content .title{
        font-size: 2.5rem;
    }
    
    #content .subtitle{
        font-size: 1.5rem;
    }
    
    #content .paragraph{
        font-size: 1rem;
    }

    #sidebar{
        display: none;
    }
    .mobile-nav{
        display: flex;
    }
}
